# Auto detect text files and perform LF normalization
* text=auto
/tsl/infection_phosphoproteome/results/mst7_phospho_all.csv filter=lfs diff=lfs merge=lfs -text
/tsl/infection_phosphoproteome/results/mst7_phospho_only.csv filter=lfs diff=lfs merge=lfs -text
